.header img {
  width: 6%;
  margin-right: 15em;
}

.header {
  background-color: #fbc1c1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header a {
  color: #fff;
  padding: 1em;
  text-decoration: none;
  font-size: 1.3em;
}

.header-link {
  color: #fff;
  padding: 1em;
  text-decoration: none;
  font-size: 1.3em;
}

.header-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.header a:hover {
  text-decoration: underline;
}

.dropdown-menu {
  background-color: white;
  color: black;
  border: 1px solid #ccc;
}

.dropdown-menu a {
  color: black;
  text-decoration: none;
}

.dropdown-menu a:hover {
  color: #000;
  background-color: #f8f9fa;
}