.about {
    margin: 2rem;
    margin-top: 9rem;
}

.contact-section {
    background-color: #fff;
    border-radius: 15px;
    padding: 1em;
    margin: 1rem;
    /*Pamps css styling */
    box-shadow: rgba(0,0,0,0.04) 0px 4px 8px -2px
}

.contact-section p {
    font-size: 1.2rem;
}

.contact-section a {
    color: #BB6B00;
    text-decoration: none;
    font-weight: 500;
}

.contact-section a:hover {
    text-decoration: underline;
}

.contact {
    background-color: #fffff8; 
    font-family: "Playfair Display", serif;
}

.form-label {
    font-size: 1.3em;
}