.home {
    background-color: #fffff8;
    font-family: "Playfair Display", serif;
    padding: 1rem;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

h2 {
    margin-top: 2rem;
}

h3 {
    margin-top: 1.5rem;
}

p {
    margin: 1em 0;
    font-size: 1.1rem;
}

.home-wrapper {
    max-width: 1000px;
    margin: 1rem auto;
    text-align: center;
    background-color: #fff;
    border-radius: 15px;
    padding: 1em;
    /*Pamps css styling */
    box-shadow: rgba(0,0,0,0.04) 0px 4px 8px -2px
}

.contact-info {
    margin: 0;
    font-weight: 500;
}

.contact-info a {
    color: #CC998D;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

/* Tablet styling for the website */
@media (max-width: 1080px) {
  .home-wrapper {
    margin: 1rem;
    padding: 1.5rem;
  }

  p {
    font-size: 1rem;
  }

  h1, h2 {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 1.4rem;
  }

  .contact-info {
    font-size: 0.95rem;
  }
}