.trademarks {
    background-color: #fffff8;
    font-family: "Playfair Display", serif;
    margin-top: 8rem;
}

.trademarks h1 {
    padding: 1em;
}

.brands-layout {
    display: flex;
    flex-direction: column;
}

.card-link {
    text-decoration: none;
    color: #D4537E;
    font-weight: 500;
    font-size: 1.3em;
}

.card-link:hover {
    text-decoration: underline;
    color: #993556;
}

@media (max-width: 1080px) {
    .trademarks {
        margin-top: 1rem;
    }
}