
.trademarks {
    background-color: #fffff8;
    font-family: "Playfair Display", serif;
}

.trademarks h1 {
    padding: 1em;
}

.brands-layout {
    display: flex;
    flex-direction: column;
}

.card-link {
    text-decoration: none;
    color: #955E42;
    font-size: 1.3em;
}

.card-link:hover {
    text-decoration: underline;
}