.skin-youth {
    background-color: #fffff8;
    font-family: "Playfair Display", serif;
}

.skin-youth h1 {
    margin: 1em
}

.price {
    font-size: 1.2em;
}

.title {
    color: #CC998D;
}

#example-fade-text {
    background-color: #fff;
    border-radius: 15px;
    padding: 1em;
    margin: 1rem;
    /*Pamps css styling */
    box-shadow: rgba(0,0,0,0.04) 0px 4px 8px -2px
}