.fillers {
    background-color: #fffff8;
    font-family: "Playfair Display", serif;
    margin-top: 8rem;
}

.fillers-card {
    background-color: #fff;
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.04), 0 4px 12px rgba(0,0,0,0.05);
    margin: 0 1rem .5rem;
}

.fillers h1 {
    margin: 1em
}

.price {
    font-size: 1.2em;
    font-weight: 550;
}

.title {
    color: #BB6B00;
}

#example-fade-text {
    background-color: #fff;
    border-radius: 15px;
    padding: 1em;
    margin: 1rem;
    /*Pamps css styling */
    box-shadow: rgba(0,0,0,0.04) 0px 4px 8px -2px
}

@media (max-width: 1080px) {
    .fillers {
        margin-top: 1rem;
    }
}